<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>
 <!-- This is where the title goes. -->    
    {% block title %}
      DEFAULT TITLE
    {% endblock %}
</head>

<body>
  <!-- Show Navigation Bar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ubermelon</a>
        </div>

        <div class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-right">
                    <a href="#">
                        My Profile
                    </a>
            </div>
        </div>

    </div>
</div>

<div class="container">

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>

</body>
</html>