{% extends 'base.html' %}
{% block title %}
    <title>Main Page</title>
{% endblock %}
{% block body %}
    <div class="site-wrapper">
    <div class="site-wrapper-inner">

        <h1>Ubermelon Careers!</h1>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12 col-md-12">
                         <h5> Roles </h5>
                    
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <img src="./static/lifeatgoogle.jpg">
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <p>Interested in joining us, but not sure where to start? We've got you covered. Check out our teams and roles to learn more about opportunities to do cool stuff that matters.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12 col-md-12">
                        <h5> Teams </h5>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <img src="./static/teams.jpg">
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <p>Interested in joining us, but not sure where to start? We've got you covered. Check out our teams and roles to learn more about opportunities to do cool stuff that matters.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12 col-md-12">
                        <h5> Locations </h5>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <img src="./static/locations.jpg">
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <p>Interested in joining us, but not sure where to start? We've got you covered. Check out our teams and roles to learn more about opportunities to do cool stuff that matters.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-5 col-md-8">
                    <h4>Do cool things that matter.</h4>
                </div>
                <div class="col-xs-12 col-md-offset-6 col-md-6">
                    <a href="/app-form" class="btn btn-lg btn-primary">Apply</a>
                </div>
            </div>
        </div>
        

    </div>
</div>

{% endblock %}

